---
import HeroSection from '../components/HeroSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Model3HP from '../components/Model3HP.astro';
import ModelYHP from '../components/ModelYHP.astro';
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Electric Cars, Solar & Clean Energy | Tesla">
  
  <LandingHeader />
  
	<main class="relative w-full h-screen overflow-x-hidden over snap-y snap-mandatory z-30">
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Model3HP />
    </div>
    <div class="snap-center">
      <ModelYHP />
    </div>
  </main>

</Layout>