<section class="bg-black h-screen w-screen text-center relative overflow-hidden landing-section" data-header-color="white">

  <div class="z-50 relative h-full flex flex-col">

    <header>
      <h2 class="text-white pt-40 text-[40px] font-medium">Experience Tesla</h2>
      <p class="text-white text-sm">Schedule a Demo Drive Today</p>
    </header>

    <footer class="flex flex-grow flex-nowrap justify-end flex-col pb-20">
      <div>
        <a class="text-white border-[3px] border-white bg-white/5 backdrop-blur-xl rounded text-sm font-semibold px-20 py-[10px] inline-block hover:bg-white hover:text-black transition-colors duration-300" href="#">Demo Drive</a>
      </div>
    </footer>

  </div>

  <div class="absolute top-0 bottom-0 z-10 w-full h-full">
    <video class="object-cover object-center h-full w-full" src="./homepage.webm" autoplay loop></video>
  </div>

 </section>