<section class="bg-black h-screen w-screen text-center relative overflow-hidden landing-section" data-header-color="black">

  <div class="z-50 relative h-full flex flex-col">

    <header>
      <h2 class="pt-40 text-[40px] font-medium">Model 3</h2>
      <p class=text-sm">Starting at $32,740</p>
      <p class="text-sm">After Federal Tax Credit</p>
    </header>

    <footer class="flex flex-grow flex-nowrap justify-end flex-col pb-20">
      <div class="gap-x-6 flex mx-auto">
        <a class="text-black/75 bg-white/40 rounded text-sm font-semibold px-20 py-[10px] inline-block hover:bg-black/40 hover:text-white transition-colors duration-300" href="#">Explore Inventory</a>

        <a class= "text-gray-300 bg-black/40  rounded text-sm font-semibold px-20 py-[10px] inline-block hover:bg-white/40 hover:text-black/75 transition-colors duration-300" href="#">Custom Order</a>
      </div>
    </footer>

  </div>

  <div class="absolute top-0 bottom-0 z-10 w-full h-full">
    <img src="./model3hp.avif" alt="Model 3" class="object-cover object-center h-full w-full">
    <!-- <video class="object-cover object-center h-full w-full" src="./homepage.webm" autoplay loop></video> -->
  </div>

 </section>